*{
	margin: 0px;
	padding: 0px;
}

body{
	width: 100%;
	height:100%;
}

.banner{
	margin-top: 40px;
	margin-left: 30px;
	
}

.gambar1 img{
	width: 70%;
	float: right;
	margin-top: 30px;
	margin-right: 100px;
	border-radius: 30px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.card{
	margin-top: 80px;
	background-color: #EEF5FF;
}

.card h3{
	margin-top: 20px;
    text-align: center;
}

.card h4{
	margin-top: 80px;
	margin-left: 60px;
}

.card2{
	width: 30%;
}

.senin{
	margin-left: 20px;
	background-color: #86B6F6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.senin h5{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.judul{
	margin-top: -30px;
}

.selasa{
	margin-left: 20px;
	background-color: #86B6F6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.selasa h5{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.rabu{
	margin-left: 20px;
	background-color: #86B6F6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.rabu h5{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.kamis{
	margin-left: 20px;
	background-color: #86B6F6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.kamis h5{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.jumat{
	margin-left: 20px;
	background-color: #86B6F6;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.jumat h5{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.piket{
	margin-left: 80px;
}

.piket h3{
	text-align: center;
	margin-top: 50px;
}

.dropdown button{
	width: 100px;
	margin-top: 50px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
}

.selasa2{
	float: right;
	margin-right: 80px;
	margin-top: -85px;
}

.selasa2 span{
	font-family: sans-serif;
	font-weight: bold;
}

.rabu2{
	margin-top: 50px;
}

.kamis2{
	float: right;
	margin-top: -90px;
	margin-right: 80px;
}

.jumat2{
	display: grid;
	place-items: center;
	margin-left: -70px;
}

.card img{
	width: 200px;
}

.gambar img{
	margin-left: 100px;
	margin-top: 100px;
	cursor: pointer;
}

.ombak{
	margin-top: 80px;
}